  
  
/* BOTÃO */

.button {
  color: white;
  background-color: blue;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #2222fd;
}
